    <div>id: {{hero.id}} </div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" placeholder="name" [(ngModel)]="hero.name">
    </div>
    <div>
      <label for="hero-class">Hero level: </label>
      <input id="hero-class" placeholder="class" [(ngModel)]="hero.level">
    </div>
    <div>
      <label for="hero-level">Hero class: </label>
      <select name="" id="hero-level" [(ngModel)]="hero.class">
        <option *ngFor="let class of classes" [value]="class">{{class}}</option>
      </select>
    </div>
    <button type="button">go back</button>
    <button type="button">save</button>